* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #75a1bf;
}

main {
	width: 1472px;
	height: 825px;
	margin: 20px;
	background-color: #75a1bf;
	display: flex;
	justify-content: center;
	gap: 80px;
}

img {
	width: 144px;
	height: 204px;
}

.container_left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 50px;
}

.computer {
	background-color: #030;
	display: grid;
	padding: 24px 173.5px 24px 173.5px;
	grid-template-rows: 1fr 1fr;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	gap: 18px 27px;
}

.last_c_c {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 140px;
}

#start_btn,
#stop_btn {
	width: 110px;
	height: 50px;
	border-radius: 10px;
	text-align: center;
	font-size: medium;
}

.last_played_card {
	width: 144px;
	height: 204px;
	border: solid black 1px;
}

.last_played_c {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.player {
	background-color: #030;
	display: grid;
	padding: 24px 173.5px 24px 173.5px;
	grid-template-rows: 1fr 1fr;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	gap: 18px 27px;
}

.stack {
	position: relative;
	width: 150px;
	height: 220px;
}

.deck_card {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.deck_card:nth-child(1) {
	transform: translate(0px, 0px) rotate(0deg);
}

.deck_card:nth-child(2) {
	transform: translate(5px, 5px) rotate(2deg);
}

.deck_card:nth-child(3) {
	transform: translate(10px, 10px) rotate(-2deg);
}

.deck_c {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.countdown_modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
	z-index: 9999;
}

.countdown_modal.hidden {
	display: none;
}

.card-highlight {
	filter: drop-shadow(0 0 15px gold) brightness(1.2);
	transition: all 0.2s ease;
}

.countdown_box {
	width: 70px;
	height: 70px;
	background: white;
	border-radius: 3px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 30px;
}